.header {
  width: 100vw;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 6rem var(--padding) 8rem;
  position: relative;

  .backgroundWrapper {
    position: absolute;
    inset: 0;
    z-index: -2;
  }

  .title {
    text-align: center;
    font-size: 3.75rem; /* Larger for the title */
    font-weight: 900;
    color: light-dark(hsl(var(--white)), hsl(var(--white) / 0.8));
    text-shadow: 0 0.5px 5px hsl(var(--foreground) / 0.1);

    max-width: 800px;
    text-wrap: balance;
    line-height: 1;
    position: relative;
  }

  .description {
    font-size: 1.125rem;
    font-weight: 400;
    color: light-dark(hsl(var(--white)), hsl(var(--white) / 0.8));

    text-wrap: pretty;
    text-align: center;
    line-height: 1.4;
  }

  .waves {
    position: absolute;
    top: 0rem;
    width: auto;
    height: 1200px;
    z-index: -1;
  }

  // &::before {
  //   content: "";

  //   background-color: #ff99e0;
  //   background-image: radial-gradient(
  //       at 75% 22%,
  //       hsla(318, 96%, 68%, 1) 0px,
  //       transparent 50%
  //     ),
  //     radial-gradient(at 33% 48%, hsla(283, 63%, 76%, 1) 0px, transparent 50%),
  //     radial-gradient(at 14% 29%, hsla(316, 78%, 69%, 1) 0px, transparent 50%),
  //     radial-gradient(at 2% 44%, hsla(46, 61%, 63%, 1) 0px, transparent 50%),
  //     radial-gradient(at 68% 44%, hsla(297, 98%, 60%, 1) 0px, transparent 50%),
  //     radial-gradient(at 81% 97%, hsla(259, 75%, 71%, 1) 0px, transparent 50%),
  //     radial-gradient(at 45% 85%, hsla(297, 97%, 72%, 1) 0px, transparent 50%);

  //   background-size: 120% 120%;
  //   animation: gradient-animation 2s ease infinite;

  //   z-index: -2;
  //   overflow: hidden;
  //   position: absolute;
  //   bottom: 0;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: calc(100% + 4rem);
  //   transform: skewY(0deg);

  //   overflow: hidden;
  //   border: none;
  // }

  // &::after {
  //   content: "";
  //   position: absolute;

  //   background: hsl(var(--background) / 0.35);
  //   background-size: 120% 120%;
  //   backdrop-filter: blur(4px);

  //   bottom: 20%;
  //   width: 100%;
  //   top: 10%;
  //   left: 0;

  //   transform: skewY(1.6deg);
  //   transform-origin: 100%;
  //   border: none;

  //   z-index: -1;
  // }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 3rem var(--padding) 3rem;
    .title {
      font-size: 2.25rem;
    }
    .description {
    }
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
