.header {
  position: relative;
  margin-top: 20px;
  padding: 80px 20px 80px;
  margin-bottom: 2rem;

  @media screen and (max-width: 768px) {
    padding: 40px 20px 40px;
    margin-top: 0px;
  }
  h1 {
    text-align: left;
    text-wrap: balance;
  }

  .gradientBackground {
    border-radius: var(--radius);
    opacity: 0.5;
  }
}
