.header {
  position: relative;
  padding: 40px 20px 80px;
  margin-bottom: 2rem;

  h1 {
    text-align: left;
    text-wrap: balance;
    @media screen and (max-width: 768px) {
      //font-size: 2rem;
    }
  }

  .gradientBackground {
    border-radius: var(--radius);
    opacity: 0.5;
  }
}
