/* src/components/TechnologyStack/TechItem.module.scss */

.techItem {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  h4 {
    font-size: 1.6rem;
    color: hsl(var(--foreground));
  }

  p {
    font-size: 1rem;
    color: hsl(var(--muted-foreground));
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5rem;

    li {
      font-size: 1rem;
      color: hsl(var(--muted-foreground));
      margin-bottom: 0.5rem;
    }
  }
}
