.resizeContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding-top: 40px;
  gap: 2.5rem;
}

.resizePreviewWrapper {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  contain: strict;
  margin: auto;
  perspective: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;

  .resizePreviewImage {
    position: absolute;
    margin: auto;
    border-radius: 2px;
    border: 1px solid hsl(var(--muted-foreground) / 0.2);
    border-style: inline;
    overflow: hidden;
  }

  .firstImage {
    opacity: 1;
  }

  .secondImage {
    opacity: 0.75;
  }

  .thirdImage {
    opacity: 0.5;
  }
}

.arrowRight {
  transform: rotate(-90deg);

  width: 3rem;
}
