/* src/pages/AboutPage.module.scss */
.blog {
  padding-top: 3rem;

  .blogList {
    display: flex;
    min-width: 100%;
    align-items: stretch;
    flex-wrap: wrap;

    gap: 2rem;
    .blogItem {
      flex: 1 1 min(300px, 100%);
      min-height: 110px;
      padding: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      color: hsl(var(--white));
      font-weight: 400;
      transition: all 0.2s ease;
      will-change: font-weight, transform, color, opacity;

      .gradientBackground {
        border: 1px solid hsl(var(--white));
        border-radius: var(--radius);
        position: absolute !important;
        transition: all 0.2s ease;
        opacity: 0.85;
        will-change: font-weight, transform, color, opacity;
      }
    }

    .blogItem:hover {
      font-weight: 600;
      transform: scale(1.05);
      .gradientBackground {
        transform: skewY(-2deg) !important;
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .blog {
  }
}
