:root {
  --nav-height: 45px;
  --padding: 20px;
  --max-width: calc(var(--padding) + 1024px);
  --content-width: 750px;
  --radius: 0.5rem;
  --primary-hex: #2563eb;
  --muted-hex: #f4f4f5;
  --bg-hex-light: #f5f8fa;
  --bg-hex-dark: #09090b;
  --bg-hex-grey: #1b1b1b;
  --bg-test-grad: #e517db;
  --black: 240 10% 3.9%;
  --white: 0 0% 100%;
  --activeText: 124 84% 25%;
  --success: 88 50% 53%;
  --purple: 262.1 83.3% 57.8%;
  --purple-foreground: 210 20% 98%;
  --orange: 24.6 95% 53.1%;
  --yellow: 47.9 95.8% 53.1%;
  --background: 204 30% 97%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 221.2 83.2% 53.3%;
  --primary-foreground: 210 40% 98%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 221.2 83.2% 53.3%;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --warning: 47.9 95.8% 53.1%;
  --warning-foreground: 26 83.3% 14.1%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --purple: 263.4 70% 50.4%;
    --purple-foreground: 210 20% 98%;
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --warning: 47.9 95.8% 53.1%;
    --warning-foreground: 26 83.3% 14.1%;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100svh;
  max-height: 100svh;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: system-ui, -apple-system, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
  will-change: auto;
  display: grid;
  grid-template-rows: var(--nav-height) 1fr auto;
  overflow-x: hidden; /* Prevent horizontal scroll */
  overflow-y: auto; /* Allow vertical scroll */
  scroll-behavior: smooth;
}
body a {
  color: inherit;
  text-decoration: none;
}
body li {
  list-style: none;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: hsl(var(--foreground));
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@media screen and (min-width: 768px) {
  :root {
    --padding: 40px;
  }
}
@media screen and (max-width: 768px) {
  :root {
    --nav-height: 40px;
  }
}/*# sourceMappingURL=globals.css.map */