.footer {
  height: 25px;
  grid-row: -1;
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.2rem calc((100vw - var(--max-width)) / 2 + var(--padding));
  font-weight: 600;
  font-size: 0.875rem;

  .gradientBackground {
    opacity: 0.25;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 1rem var(--padding);
  }
}
