.tag {
  padding: 0.25rem 0.65rem;
  background-color: light-dark(
    hsl(var(--purple) / 0.3),
    hsl(var(--warning) / 0.8)
  );
  color: light-dark(hsl(var(--black)), hsl(var(--black)));
  border-radius: 999px;
  font-size: 14px;
  font-weight: 800;
  font-family: var(--font-geist-mono);
  margin-bottom: 0.25rem;
}
