/* src/components/UnderstandingServices/ServiceArticle.module.scss */

.serviceArticle {
  margin-bottom: 2rem;

  h3 {
    font-size: 1.5rem;
    color: hsl(var(foreground));
  }

  .subtitle {
    font-size: 1rem;
    color: hsl(var(foreground) / 0.7);

    margin-bottom: 1rem;
  }

  h4 {
    font-size: 1rem;
    color: hsl(var(foreground));

    margin-top: 1.5rem;
  }

  p {
    font-size: 1rem;
    color: hsl(var(--muted-foreground));
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  ul {
    list-style-type: none;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li {
      font-size: 1rem;
      color: hsl(var(--muted-foreground));
      position: relative;
      &:first-child {
        margin-top: 0.5rem;
      }

      &::before {
        content: "•";
        margin-right: 0.5rem;
        color: hsl(var(--muted-foreground));
      }
    }
  }
}
