/* src/components/UnderstandingServices/UnderstandingServices.module.scss */

.understandingServices {
  padding: 2rem;

  h2 {
    font-size: 2rem;
    color: hsl(var(foreground));
    text-align: center;
    margin-bottom: 2rem;
  }
}
