.gradientBackground {
  position: absolute;

  mix-blend-mode: screen;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: calc(100% * 1.05) !important;
  height: 100%;
  z-index: 1 !important;

  opacity: 1;

  @media screen and (prefers-color-scheme: dark) {
    //mix-blend-mode: ;
    display: none;
  }
}

.overviewSection {
  padding: 4rem var(--padding) 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: var(--max-width);

  margin: 0 auto;
  justify-content: flex-start;
  position: relative;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-start;
    text-align: center;

    .description {
      margin: 0;
    }
  }

  .featuresList {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1rem;
    position: relative;

    .feature {
      flex: 1 1 min(300px, 100%);
      height: min(150px, 200px);
      text-align: center;
      cursor: pointer;
      display: flex;
      flex-direction: column; /* Align content inside feature card */
      align-items: center;
      justify-content: flex-start;
      gap: 0.25rem;
      padding: 1.5rem;
      background-color: hsl(var(--black) / 0.9);
      border: 1px solid hsl(var(--border));
      border-radius: var(--radius);

      overflow: hidden;

      transition: all 0.2s ease-in-out;
      will-change: auto;
      font-optical-sizing: auto;

      .cardIcon {
        color: hsl(var(--white));

        &:nth-child(0) {
          fill: red;
        }
      }

      .cardTitle {
        color: hsl(var(--white));
        font-weight: 700;
        font-size: 1.5rem;
      }

      .cardDescription {
        font-size: 0.875rem;
        color: hsl(var(--white) / 0.7);
        text-wrap: pretty;
      }

      &:hover {
        transform: scale(1.05);
      }
    }

    .feature:hover {
      & .gradientBackground {
        transform: scale(1.05);
      }
    }

    .feature:first-child {
      //animation: pulse 2s infinite;
      // background-color: hsl(var(--black) / 0.9);
    }
    .feature:nth-child(2) {
      // background-color: hsl(var(--black) / 0.9);
      color: white;
    }
    .feature:nth-child(3) {
      // background-color: hsl(var(--black) / 0.9);
      //   background-color: #28a745; /* Soft green */
      color: white;
      grid-column: span 2;
      /* Specific color schemes for each feature */
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
